<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Document Page</title>
</head>
<body>
    <div id="app" class="page">
        <form>
            <div class="searchWindow">
                <div class="searchField">
                    <input id="input" v-model="input" placeholder="Search your word..." class="textHolder" type="text" autocomplete="off" v-on:input="findSimilar">
                </div>
                <div v-if="items.length > 0" id="contentBox" class="contentSearched">
                    <div class="line"></div>
                    <ul id="list" class="items">
                        <li @click="setWord" v-for="item in items" class="item">{{item.title}}</li>
                    </ul>    
                </div>
            </div>
        </form>
    </div>
</body>

<script src="./js/vue.js"></script>
<script>
     var app = new Vue({
        el: '#app',
        data: {
            input: "",
            items: [],
            placeholder: "Search your word..."
        },
        methods: {
            findSimilar: function(event){
                if (event.target.value.length > 2) {
                    const requestOptions = {
                        method: "POST",
                        mode: 'cors',
                        headers: 
                        { 
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ word: event.target.value })
                    };
                    fetch("http://localhost/php/hello.php", requestOptions)
                        .then(response => response.json())
                        .then(data => console.log(data));
                    
                } else {
                    this.items = []
                }
            },
            setWord: function(event){
                this.input = event.target.textContent;
                this.items = [];
            }
        }
    })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#input3").keyup(function(){
            inputText = document.getElementById("input").value;
            if (inputText.length >= 2) {
                $.ajax({
                    type: 'post',
                    url: "http://localhost/php/hello.php",
                    data: {'word': inputText},
                    responce: 'text',
                    success: function(data){
                        showContent(data);
                    }
                })
                console.log(inputText);
            }    
            else 
                showContent("")
        })
    })

    function showContent(data) {
        if (data.length > 0) {
            document.getElementById("contentBox").style.display = "block";
            var words = ""
            data.split(';').forEach(item => {
                words += '<li class="item">'+item+'</li>';
            });
            document.getElementById("list").innerHTML = words
        } 
        else
            document.getElementById("contentBox").style.display = "none";
    }

    $("#contentBox").on('click', 'li', function(){
        word = $(this).text();
        document.getElementById("input").value = word;
        showContent("");
    })
</script>

</html>